.tooldiv{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    transition: ease-in-out 0.2s;
}
.tooldiv *:hover{
    text-shadow: 0px 0px 3px #fff;
    transform: scale(1.1);
}
.projContainer{
    text-align: center;
}
.projContainer div{
    margin: 15px 0px;
}
.projContainer img{
    border-radius: 2vw;
    max-width   : calc(min(60vw,550px));
    height: auto;
}
.urlDiv button{
    width: 100%;
    padding: 5px;
}
.urlDiv button:hover{
    cursor: pointer;
}

@media screen and (width>700) {

    
}