.skillsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 60vw;
}
.skillsContainer i,
.skillsContainer p{
    font-size: calc(min(15vh,25vw));
    margin: 0;
}

.skillsContainer *:hover{
    cursor: pointer;
    text-shadow: 0 0 3px #fff; 
}


@media screen and (max-width<500px) {
    .skillsContainer{
        width: 90vw;    
    }
}