.menuContainer {
  position: fixed;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  font-size: 2rem;
  display:flex;
  flex-direction : column;
  gap : 10px;
}
.menuContainer i {
  font-size: 2rem;
}
/* 
.menuContainer button {
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  transition: 0.2s;
  margin: auto;
}
.menuContainer button:hover {
  text-shadow: 0px 0px 3px #fff;
  transform: scale(1.2);
} */
.linksDiv{
  display:flex;
  flex-direction:column;
  justify-content : space-around;
  min-width: 30vw;
  transition : 0.5s;
  overflow:hidden;
  /* overflow-x:; */
  
  font-size:1.2rem;
}
.linksDiv a{
  text-decoration : none;
  color:#fff;
  transition : 0.3s
}
.linksDiv a:hover{
  text-shadow: 0px 0px 3px #fff;
  transform: translateX(15px);
}

@media screen and (width<500px) {
  .menuContainer {
  position: sticky;
  top: 10px;
  left: unset;
  right: 10px;
  transform: translateY(0%);
  margin: 0;
  background-color: #000000;
}
}