.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    gap: 1rem;
    color: #fff;
}
.titleContainer h2{
    /* text-decoration: underline; */
    font-size: 2rem;
}
.titleContainer i {
    font-size: calc(min(10vh,6rem));
    margin: 10px;


}
.iconDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 1rem;
    aspect-ratio: 1;
    box-shadow: 0px 0px 5px #fff;
}
.sectionContainer{
    height: 100vh ;
}