/* .expWraper div {
  border: 2px solid #fffa;
}
.expWraper p {
  margin: 0 auto;
}
.divTtl {
  background-color: black;
  margin: 0px;
  padding: 5px;
  transform: translateY(-100%) translateX(-20px);
} */
